name: GitHub Actions - Push Branch Template
run-name: Running - ${{ github.actor }} 
on:
  push:
    branches:
      - main
      - develop
      - 'realese/**' #Caso tenha um modelo de criação de branch, então toda branch com esse inicio será acionada!
jobs:
  on-push:
    runs-on: ubuntu-latest
    steps: 
      - name: Comentário
        run: |
          echo "Comentário Push Workflow - branch!"