name: GitHub Actions Push Template Basic
run-name: Running - ${{ github.actor }} 
on: [push]
jobs:
  on-push:
    runs-on: ubuntu-latest
    steps: 
      - name: Comentário
        run: |
          echo "Comentário do WorkFlow Push!"